<!-- add css styling -->

<h1><%= @portfolio.user.full_name %></h1><br />

<h2><%= @portfolio.title %></h2><br />

<!-- things to add to page: 
    1. $portfolio.cash field 
    2. table of stocks with columns on whiteboard
    3. button/link to add stocks to this portfolio
-->

